<template>
  <div id="app">
    <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu" style>
            <li class="nav-header">
              <div class="logo-element">YL</div>
            </li>
            <router-link :to="{ name: 'Projects'}" tag="li" active-class="active">
                  <a>
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                    <span class="nav-label">Projects</span>
                  </a>
                </router-link>
          </ul>
        </div>
      </nav>

      <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
          <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
              <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </nav>
        </div>
        <div class="wrapper wrapper-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <!-- SOMETHING HERE. NEW-->
                <keep-alive include="ProjectLanguage,ProjectKeywordsAndLocalization">
                  <router-view/>
                </keep-alive>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div>
            <strong>Copyright</strong> YayaSoft Systems © 2019
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Router from "@/router.js";
export default {
  name: "app",
  components: {
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
</style>
