<template>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2 breadcrumbsnavig">
            <span>
              <router-link
                class="breadcrumbsProject"
                :to="{
                  name: 'ProjectLanguage',
                  params: { projectName: routeProjKey },
                }"
                ><i class="fas fa-arrow-left"></i>&nbsp;{{
                  routeProjName
                }}</router-link
              >
            </span>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-8 input-content-wrap">
            <input
              type="text"
              class="searchbykeywords"
              placeholder="Type to search by keywords..."
              v-model="searchkeywords"
            />
            <span class="clear-search-imput" @click="clearInput"
              ><i class="fas fa-times-circle"></i
            ></span>
          </div>
          <div class="col-4">
            <button
              class="btn btn-primary fornewkeywordadding"
              data-toggle="modal"
              data-target="#NewKeywordPopUp"
              @click="clearNewKeywordVal"
            >
              Add keyword
            </button>
          </div>
        </div>
      </div>
      <div class="col-7">
        <h2 class="pagetitle">Keywords of {{ routeProjName }} project</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table
          class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded"
        >
          <thead>
            <tr>
              <th
                data-toggle="true"
                class="footable-visible footable-first-column footable-sortable tablecolfirst"
              >
                Keywords
                <a
                  class="dropdown-toggle sortkeys"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sort by&nbsp;
                  <i class="fas fa-sort-amount-down"></i>
                </a>
                <ul
                  class="dropdown-menu dropdown-user complexdropdown"
                  x-placement="bottom-start"
                  style="
                    position: absolute;
                    top: 18px;
                    left: 26px;
                    will-change: top, left;
                  "
                >
                  <li class="dropdownforsortAZ">
                    <a class="dropdown-item" @click="sortingKeywordsASC()">
                      <i class="fas fa-sort sortbyalphabet"
                        >&nbsp;ASC or DESC</i
                      >
                    </a>
                  </li>
                </ul>
              </th>
              <th
                class="footable-visible footable-sortable tablecolsecond"
                v-for="lang in ProjectLocalizaions"
                :key="lang.lcid"
              >
                <router-link
                  class="languagenameth"
                  :to="{
                    name: 'ProjectKeywordsAndLocalization',
                    params: { projectid: routeProjId, lcid: lang.lcid },
                  }"
                  >{{ lang.englishName }}</router-link
                >
                <span class="footable-sort-indicator"></span>
              </th>
            </tr>
          </thead>
          <tbody class="keywordstbody">
            <tr
              v-for="keyword in ProjectKeywords"
              :key="keyword.id"
              class="keywordsrow"
            >
              <td class="footable-first-column keywordrow tablecolfirst">
                <div class="keywordspan">{{ keyword.keyword }}</div>
                <span class="additionkeywordtools">
                  <a @click="showEditingKeyword(keyword)">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                </span>
              </td>
              <td
                class="footable-visible tablecolsecond"
                v-for="lang in ProjectLocalizaions"
                :key="lang.lcid"
              >
                <i
                  class="fa"
                  :class="
                    lang.idKeywords.includes(keyword.id)
                      ? 'fa-check'
                      : 'fa-times'
                  "
                  data-toggle="modal"
                  data-target="#TranslateKeywordModal"
                  @click="getTranslation(lang.lcid, lang.englishName, keyword)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="container-fluid modal fade"
      id="NewKeywordPopUp"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="CardTitle">Add a new keyword</h2>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <div class="row">
                <div class="fileinput231" id="fileinputid211">
                  <h3>Type keyword:</h3>
                  <textarea
                    name="newkeyword"
                    id="NewKeyword"
                    class="newKeywordArea form-control"
                    v-model="newKeyword"
                    placeholder="Keyword consists from levels. Each level separators are 3 colons (':::'). Dots and other symbols are not allowed! They are will be deleted! For example firstLevel:::secondLevel:::thirdLevel"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-12 popupbottompart">
              <div class="row">
                <div class="col-6 savebuttondiv">
                  <button class="btn btn-primary btn-sm" @click="addNewKeyword">
                    Save changes
                  </button>
                </div>
                <div class="col-6 cancelbutton">
                  <button
                    class="btn btn-warning btn-sm"
                    data-dismiss="modal"
                    @click="clearNewKeywordVal"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container-fluid modal fade"
      id="TranslateKeywordModal"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content" role="document">
          <div class="modal-header">
            <h3 class="localiztitle" style="width: 100%">
              Translate on {{ selectedKeyword.languageName }}
            </h3>
          </div>
          <div class="modal-body">
            <div class="col-12 projlocright">
              <div class="col-12 col-form-label lesspaddingbot">
                <h4 class="keywordtitle">Keyword</h4>
                <div class="ibox">
                  <input
                    type="text"
                    disabled
                    readonly
                    v-model="selectedKeyword.keyword"
                    placeholder="Choose a keyword please."
                    class="shortarea"
                  />
                </div>
              </div>
              <div class="col-12 col-form-label lesspaddingtop">
                <div class="row">
                  <div class="col-7 translationtitle">
                    <h4>Translation</h4>
                  </div>
                  <div class="col-5 rtlltrdir">
                    <div class="form-group">
                      RTL
                      <input
                        type="checkbox"
                        id="toggle_1"
                        class="chkbx-toggle"
                        v-model="rtlchecked"
                      />
                      <label for="toggle_1"></label>
                    </div>
                  </div>
                </div>
                <div class="ibox">
                  <textarea
                    name
                    id
                    cols="30"
                    rows="10"
                    class="translatearea form-control"
                    :placeholder="textareaplaceholder"
                    :disabled="!selectedKeyword.id"
                    :class="{ directionrtl: rtlchecked == true }"
                    v-model="newLocalVal"
                  ></textarea>
                </div>
              </div>
              <div class="col-12 localizationbuttons">
                <div class="row">
                  <div class="col-4">
                    <button
                      type="button"
                      class="btn btn-w-m btn-primary acceptLocalization hoverbutton"
                      v-if="selectedKeyword.translation === null"
                      :disabled="changedKeywordValButtons"
                      @click="addProjectlocalization"
                    >
                      Save translation
                    </button>
                    <button
                      type="button"
                      class="btn btn-w-m btn-primary acceptLocalization hoverbutton"
                      :disabled="changedKeywordValButtons"
                      @click="updateProjectKeywordLocalization"
                      v-else
                    >
                      Update translation
                    </button>
                  </div>
                  <div class="col-4">
                    <button
                      type="button"
                      class="btn btn-w-m btn-warning cancelLocalization hoverbutton"
                      @click="denylocalization()"
                    >
                      Cancel changes
                    </button>
                  </div>
                  <div class="col-4">
                    <button
                      type="button"
                      class="btn btn-w-m btn-success denyLocalization hoverbutton"
                      :disabled="denyingdelete"
                      @click="approvingLocalizationDelete()"
                    >
                      Delete translation
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid modal fade"
      id="EditKeywordModal"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="CardTitle">Edit keyword</h2>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <div class="row">
                <div class="fileinput231" id="fileinputid211">
                  <h3 style="text-align: left">
                    {{ selectedKeyword.keyword }}
                  </h3>
                  <textarea
                    v-if="selectedKeyword"
                    name="newkeyword"
                    id="NewKeyword"
                    class="newKeywordArea form-control"
                    v-model="editedKeyword"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-12 popupbottompart">
              <div class="row">
                <div class="col-4 savebuttondiv">
                  <button class="btn btn-primary btn-sm" @click="EditKeyword">
                    Save changes
                  </button>
                </div>
                <div class="col-4 cancelbutton">
                  <button
                    class="btn btn-danger btn-sm"
                    @click="approvingKeywordDelete(selectedKeyword)"
                  >
                    Delete Keyword
                  </button>
                </div>
                <div class="col-4 cancelbutton">
                  <button
                    class="btn btn-warning btn-sm"
                    data-dismiss="modal"
                    @click="cancelEditingKeyword"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/services/api.js";
import swal from "sweetalert2";
import _ from "lodash";
export default {
  data() {
    return {
      rtlchecked: false,
      textareaplaceholder: "Click to keyword and type translation.",
      ProjectKeywords: [],
      selectedKeyword: {
        id: "",
        keyword: "",
        translation: "",
        languageName: "",
        localizationId: "",
        languageId: "",
        lcid: "",
      },
      ProjectLocalizaions: [],
      ProjectLocalization: {},
      routeProjName: null,
      routeProjId: null,
      routeProjKey: null,
      showForEditing: true,
      showForEditKeyword: true,
      editId: null,
      newKeyword: null,
      editedKeyword: null,
      asc: true,
      ordertype: 1,
      searchkeywords: null,
      searchTimer: null,
      isSearch: false,
      oldLocalVal: null,
      newLocalVal: null,
      languageId: null,
      currentlcid: null,
    };
  },
  computed: {
    denyingdelete() {
      if (this.oldLocalVal != null) {
        return false;
      } else return true;
    },
    changedKeywordValButtons() {
      if (this.oldLocalVal == this.newLocalVal || !this.newLocalVal) {
        return true;
      } else return false;
    },
    // filterProjectKeywords() {
    //   if (this.ProjectKeywords.length > 0) {
    //     return this.ProjectKeywords.filter(x =>
    //       x.keyword.toLowerCase().includes(this.searchkeywords.toLowerCase())
    //     );
    //   }
    // }
  },
  mounted() {
    this.getProjectKeys();
    $("#NewKeyword").on("change", function () {
      if (this.value.match(/[^a-zA-Z0-9: ]/g)) {
        this.value = this.value.replace(/[^a-zA-Z0-9: ]/g, "");
      }
    });
  },
  watch: {
    searchkeywords(val) {
      clearTimeout(this.searchTimer);
      this.searchTimer = setTimeout(async () => {
        const search = val;
        if (search) {
          search.trim();
          this.isSearch = true;
          swal.showLoading();
          await this.searchProjectKey(this.$route.params.projectName, search);
          swal.close();
        } else {
          this.isSearch = false;
          this.getProjectKeys();
        }
      }, 800);
    },
  },
  methods: {
    async deleterojectKeywordLocalization() {
      swal.showLoading();
      let [err, response] = await api.delLocalization(
        this.ProjectLocalization.id
      );
      if (err == null) {
        if (response.data.error == null) {
          if (this.ProjectLocalization.id == response.data.id) {
            this.UpdateVueKeywordList(this.selectedKeyword.id, null);
            this.newLocalVal = null;
            let found = this.ProjectLocalizaions.find(
              (x) => x.lcid === this.selectedKeyword.lcid
            );
            found.idKeywords = found.idKeywords.filter(x=> x !== this.ProjectLocalization.keywordId);
            this.selectedKeyword = {};
            this.ProjectLocalization = {};
          }
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error",
        });
      }
    },
    approvingLocalizationDelete() {
      this.cancelUpdatingKeyword();
      swal
        .fire({
          title:
            "You want to delete the " +
            '"' +
            this.newLocalVal +
            '" localization',
          text: "You won't be able to revert!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, delete the localization!",
        })
        .then((result) => {
          if (result.value) {
            this.deleterojectKeywordLocalization();
          }
        });
    },
    async getProjectKeywordLocalization() {
      let [err, response] = await api.getLocalization(
        this.routeProjId,
        this.selectedKeyword.id,
        this.languageId
      );
      if (err == null) {
        if (response.error == null) {
          this.oldLocalVal = response.data.localizationValue;
          this.newLocalVal = response.data.localizationValue;

          if (response.data.localizationValue != null) {
            this.ProjectLocalization.id = response.data.id;
            (this.ProjectLocalization.projectId = response.data.projectId),
              (this.ProjectLocalization.keywordId = response.data.keywordId),
              (this.ProjectLocalization.localizationValue =
                response.data.localizationValue),
              (this.ProjectLocalization.languageId = response.data.languageId);
          } else this.ProjectLocalization = {};
          $("#TranslateKeywordModal").modal("hide");
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: response.error,
        });
      }
    },
    UpdateVueKeywordList(keywordid, value) {
      var touched = this.ProjectKeywords.find((x) => x.id == keywordid);
      if (touched) {
        touched.value = value;
      }
    },
    async addProjectlocalization() {
      swal.showLoading();
      let [err, response] = await api.addLocalization(
        this.routeProjId,
        this.selectedKeyword.id,
        this.newLocalVal,
        this.languageId
      );

      if (err == null) {
        if (response.data.error == null) {
          this.ProjectLocalization.id = response.id;
          let found = this.ProjectLocalizaions.find(
            (x) => x.lcid === this.selectedKeyword.lcid
          );
          found.idKeywords.push(response.data.keywordId);
          (this.ProjectLocalization.projectId = response.projectId),
            (this.ProjectLocalization.keywordId = response.keywordId),
            (this.ProjectLocalization.localizationValue =
              response.localizationValue),
            (this.ProjectLocalization.languageId = response.languageId);
          this.UpdateVueKeywordList(
            this.selectedKeyword.id,
            response.data.localizationValue
          );
          swal.close();
        } else
          swal.fire({
            type: "error",
            title: "Error",
            text: "Error",
          });
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error",
        });
      }
      this.getProjectKeywordLocalization();
    },
    async updateProjectKeywordLocalization() {
      swal.showLoading();
      let [err, response] = await api.updLocalization(
        this.ProjectLocalization.id,
        this.newLocalVal
      );
      if (err == null) {
        if (response.error == null) {
          this.ProjectLocalization.id = response.data.id;
          (this.ProjectLocalization.projectId = response.data.projectId),
            (this.ProjectLocalization.keywordId = response.data.keywordId),
            (this.ProjectLocalization.localizationValue =
              response.data.localizationValue),
            (this.ProjectLocalization.languageId = response.data.languageId);
          this.UpdateVueKeywordList(
            this.selectedKeyword.id,
            response.data.localizationValue
          );
          this.oldLocalVal = response.data.localizationValue;
          $("#TranslateKeywordModal").modal("hide");
          swal.close();
        } else
          swal.fire({
            type: "error",
            title: "Error",
            text: response.data.error,
          });
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error",
        });
      }
    },
    denylocalization() {
      this.newLocalVal = this.oldLocalVal;
      $("#TranslateKeywordModal").modal("hide");
    },
    async getTranslation(langId, langName, keyword) {
      swal.showLoading();
      this.selectedKeyword = {
        id: "",
        keyword: "",
        translation: "",
        languageName: "",
      };
      let [err, response] = await api.getProjectLanguage(
        this.routeProjId,
        langId
      );
      if (err == null) {
        if (response.error == null) {
          this.languageId = response.data.languageId;
          this.selectedKeyword.lcid = langId;
          if (this.languageId) {
            let [erriside, responseinside] = await api.getLocalization(
              this.routeProjId,
              keyword.id,
              this.languageId
            );
            if (erriside == null) {
              if (responseinside.error == null) {
                this.selectedKeyword.id = keyword.id;
                this.selectedKeyword.keyword = keyword.keyword;
                this.selectedKeyword.translation =
                  responseinside.data.localizationValue;
                this.newLocalVal = responseinside.data.localizationValue;
                this.oldLocalVal = responseinside.data.localizationValue;
                this.selectedKeyword.languageName = langName;
                this.selectedKeyword.localizationId = responseinside.data.id;
                this.selectedKeyword.languageId =
                  responseinside.data.languageId;
                if (responseinside.data.localizationValue != null) {
                  this.ProjectLocalization.id = responseinside.data.id;
                  (this.ProjectLocalization.projectId =
                    responseinside.data.projectId),
                    (this.ProjectLocalization.keywordId =
                      responseinside.data.keywordId),
                    (this.ProjectLocalization.localizationValue =
                      responseinside.data.localizationValue),
                    (this.ProjectLocalization.languageId =
                      responseinside.data.languageId);
                } else this.ProjectLocalization = {};
                swal.close();
              }
            } else {
              swal.fire({
                type: "error",
                title: "Error",
                text: "Server Error",
              });
            }
          }
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error",
        });
      }
    },
    clearInput() {
      this.searchkeywords = null;
    },
    sortingKeywordsASC: function () {
      if (this.ordertype == 1) {
        this.asc = !this.asc;
      } else {
        this.ordertype = 1;
        this.asc = true;
      }
      this.ProjectKeywords = _.orderBy(
        this.ProjectKeywords,
        (x) => x.keyword.toLowerCase(),
        this.asc ? "asc" : "desc"
      );
    },
    isNullOrWhite(str) {
      if (str === null) return true;
      return str.trim().length == 0;
    },
    showAddingNewKeyword() {
      this.showForAddNewKeyword = true;
      this.newKeyword = null;
    },

    hideAddingNewKeyword() {
      $("#NewKeywordPopUp").modal("hide");
    },
    cancelAddingNewKeyword() {
      this.showForAddNewKeyword = false;
    },
    async addNewKeyword() {
      var valid = this.isNullOrWhite(this.newKeyword);
      if (!valid) {
        let [err, response] = await api.addnewKeywordToProject(
          this.newKeyword,
          this.routeProjId
        );
        if (err == null) {
          if (response.data.error == null) {
            this.ProjectKeywords.unshift({
              id: response.data.id,
              keyword: response.data.keyword,
            });
            this.hideAddingNewKeyword();
          } else {
            swal.fire({
              type: "error",
              title: "Error",
              text: response.data.error,
            });
          }
        } else {
          swal.fire({
            type: "error",
            title: "Error",
            text: err,
          });
        }
      } else {
        swal.fire({
          type: "error",
          title: "New keyword is undefined!",
          text: "Please type a new keyword.",
        });
      }
    },
    // selectKeyword(keyword) {
    //   this.ProjectKeywords.forEach((element) => {
    //     element.selected = false;
    //   });
    //   keyword.selected = true;
    //   this.textareaplaceholder = "";
    //   this.selectedKeyword.id = keyword.id;
    //   this.selectedKeyword.keyword = keyword.keyword;
    // },
    clearNewKeywordVal() {
      this.newKeyword = null;
    },
    async EditKeyword() {
      if (this.selectedKeyword != null) {
        let [err, response] = await api.editProjectKeyword(
          this.editedKeyword,
          this.selectedKeyword.id
        );
        if (err == null) {
          if (response.data.error == null) {
            this.ProjectKeywords.forEach((element) => {
              if (element.id == response.data.id) {
                element.keyword = response.data.keyword;
                if (this.searchkeywords) {
                  this.searchkeywords = response.data.keyword;
                }
              }
            });
            this.cancelEditingKeyword();
          } else {
            swal.fire({
              type: "error",
              title: "Error",
              text: response.data.error,
            });
          }
        } else {
          swal.fire({
            type: "error",
            title: "Error",
            text: "Server Error",
          });
        }
      } else this.cancelEditingKeyword();
    },

    approvingKeywordDelete(keyword) {
      this.cancelEditingKeyword();
      swal
        .fire({
          title:
            "You want to delete the " + '"' + keyword.keyword + '" keyword',
          text: "You won't be able to revert!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, delete the Keyword!",
        })
        .then((result) => {
          if (result.value) {
            this.deleteKeyword(keyword);
          }
        });
    },
    async deleteKeyword(keyword) {
      let [err, response] = await api.deleteProjectKeyword(keyword.id);
      if (err == null) {
        if (response.data.error == null) {
          this.ProjectKeywords = this.ProjectKeywords.filter(
            (x) => x.id != response.data.id
          );
          this.selectedKeyword = {};
          this.newLocalVal = null;
          if (this.searchkeywords && this.ProjectKeywords.length < 1) {
            this.searchkeywords = null;
            this.getProjectKeys();
          }
        } else {
          swal.fire({
            type: "error",
            title: "Error",
            text: "Server Error",
          });
        }
      }
    },
    showEditingKeyword(keyword) {
      $("#EditKeywordModal").modal("show");
      this.selectedKeyword = keyword;
      this.editedKeyword = this.selectedKeyword.keyword;
    },
    cancelUpdatingKeyword() {
      $("#TranslateKeywordModal").modal("hide");
    },
    cancelEditingKeyword() {
      $("#EditKeywordModal").modal("hide");
      this.selectedKeyword = {};
      this.editedKeyword = null;
    },
    async getProjectKeys() {
      swal.showLoading();
      let [err, response] = await api.getOnlyProjectKeywords(
        this.$route.params.projectName
      );
      if (err == null) {
        if (response.data.error == null) {
          this.ProjectKeywords = response.data.keywords;
          this.ProjectLocalizaions = response.data.localizations;
          this.routeProjName = response.data.projectName;
          this.routeProjId = response.data.projectId;
          this.routeProjKey = response.data.projectNameKey;
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error",
        });
      }
    },
    async searchProjectKey(projectkey, keyword) {
      swal.showLoading();
      let [err, response] = await api.getSearchedProjectKeywords(
        projectkey,
        keyword
      );
      if (err == null) {
        if (response.data.error == null) {
          this.ProjectKeywords = response.data.keywords;
          this.ProjectLocalizaions = response.data.localizations;
          this.routeProjName = response.data.projectName;
          this.routeProjId = response.data.projectId;
          this.routeProjKey = response.data.projectNameKey;
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error",
        });
      }
    },
    sortByLocalizations() {
      this.ProjectKeywords.forEach((element) => {
        this.ProjectLocalizaions.sort((x) => x.keywordId == element.Id);
      });
    },
  },
};
</script>

<style>
#TranslateKeywordModal .modal-dialog {
  max-width: 580px;
}
.input-content-wrap {
  position: relative;
}
.clear-search-imput {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.pagetitle {
  text-align: left;
}
.searchbykeywords {
  float: left;
  padding: 0 5px;
  margin-top: 15px;
  width: 100%;
  font-size: 17px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-right: 27px;
}
.fa-check {
  color: #1ab394;
}
.fa-check:hover,
.fa-times:hover {
  transform: scale(1.2);
}
.fa-times {
  color: #ed5565;
}
.fa {
  font-weight: bold;
  font-size: 21px;
}
.footable-first-column {
  position: relative;
  width: 55% !important;
}
.keywordsrow .tablecolfirst {
  word-break: break-word !important;
  text-align: left;
}
.keywordsrow .tablecolsecond {
  width: 15%;
}
.fornewkeywordadding {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px;
  width: 80%;
}
.keywordrow {
  position: relative;
  font-size: 16px;
}
.keywordrow a i {
  font-size: 18px;
  line-height: 2;
}
.keywordrow a {
  margin: 0 5px;
}
.keywordspan {
  width: 89%;
}
.additionkeywordtools {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
}
.fa-trash {
  color: #bebebe;
}
.fa-pencil-alt {
  color: #23c6c8;
}
.fa-trash:hover,
.fa-pencil-alt:hover {
  transform: scale(1.2);
}
tbody tr:hover {
  background: #e9e9eb;
}
.fileinput231 {
  width: 100%;
}
.newKeywordArea {
  height: 150px !important;
}
.complexdropdown {
  width: 25%;
}
/* .dropdownforsearch {
  padding: 15px 5px;
  font-size: 17px;
} */
.dropdownforsortAZ {
  padding: 0;
}
.dropdownforsortAZ a {
  padding: 0;
  margin: 0;
}
.sortbyalphabet {
  padding: 15px 5px;
}
.languagenameth {
  color: #212529 !important;
  text-decoration: underline;
}
.breadcrumbsnavig {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
}
.breadcrumbsProject {
  color: #676a6c;
}
.keywordsrow {
  width: 100%;
  word-break: break-word !important;
}
.directionrtl {
  direction: rtl !important;
}
.keywordstbody {
  word-break: break-word !important;
}
.swal2-title {
  word-break: break-word !important;
}
.buttonsrow button {
  font-size: 13px !important;
}
.keywordsbuttonrow button {
  margin-left: 15px;
}
</style>