<template>
  <div class="container wrapper wrapper-content">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-1"></div>
          <div class="ibox col-8">
            <div class="ibox-title">
              <h2>Projects</h2>
              <div class="ibox-tools">
                <a href class="btn btn-primary btn-xs" 
                @click="restNewProjectNameData"
                data-toggle="modal"
                data-target="#ProjectPopUp"
                >Create a new project</a>
              </div>
            </div>
            <div class="ibox-content">
              <div class="project-list">
                <table class="table table-hover">
                  <tbody class="projectbody">
                    <tr class="gradeX footable-even"
                      :key="project.id"
                      v-for="(project,i) in Projects">
                      <td>                      
                        <router-link :to="{ name: 'ProjectLanguage', params: {projectName:project.projectKey} }">
                      <td class="project-title">
                          <a @click="goToProjectLanguages(project)">{{project.text}}
                          <br />
                        <h6>Created at: {{formatDate(project.createdDate)}}</h6>
                        </a>
                          </td>
                        </router-link></td>
                      <td class="project-completion">
                        <small>Completion with: {{projcompletion[i]}}</small>
                        <div class="progress progress-mini">
                          <div :style="{width:projcompletion[i]}" class="progress-bar progress-bar-success"></div>
                        </div>
                      </td>
                      <td class="project-actions">
                        <a class="btn btn-info projectbuttons"
                          :id="'projectEdit' + i"
                          data-toggle="modal"
                          data-target="#ProjectPopUpEdit"
                          @click="editProject(project.id)">
                          <i class="fas fa-pencil-alt"> Edit</i>
                        </a>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container-fluid modal fade"
      id="ProjectPopUp"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
      dir="rtl"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="CardTitle">Create a new project</h2>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <div class="row">
                <div class="fileinput23" id="fileinputid2">
                  <h3>Project name</h3>
                  <input
                    class="form-control"
                    type="text"
                    name="projectName"
                    id="NewProjectName"
                    v-model="ProjectNameInput"
                    @keypress="validateInput"
                  />
                  <h3>Project name key</h3>
                  <input type="text" class="form-control" v-model="projNameKey" id="forProjectNameKey" maxlength="10">
                  <span v-if="isNameKeyEmpty==true">Please, enter Project name</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-12 popupbottompart">
              <div class="row">
                <div class="col-6 savebuttondiv">
                  <button class="btn btn-primary btn-sm" @click="createAnewProject">Save changes</button>
                </div>
                <div class="col-6 cancelbutton">
                  <button class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="SelectedProject"
      class="container-fluid modal fade"
      id="ProjectPopUpEdit"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
      dir="rtl"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="CardTitle">Edit project</h2>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <div class="row">
                <div class="fileinput23" id="fileinputid2">
                  <h3>Project name</h3>
                  <input
                    class="form-control"
                    type="text"
                    name="projectName"
                    id="NewProjectName"
                    v-model="SelectedProject.text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-12 popupbottompart">
              <div class="row">
                <div class="col-6 savebuttondiv">
                  <button
                    class="btn btn-primary btn-sm"
                    @click="updateTheProjectName(SelectedProject)"
                  >Save changes</button>
                </div>
                <div class="col-6 cancelbutton">
                  <button class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from "@/services/api.js";
import swal from "sweetalert2";
import store from "@/services/store.js";
import _ from "lodash";
import moment from "moment";
// var $ = window.$;
var typingTimer;
var doneTypingInterval = 700;
export default {
  name: "Projects",
  data() {
    return {
      Projects: [],
      ProjectNameInput: "",
      SelectedProject: null,
      projNameKey: null,
      isNameKeyEmpty: false,
      // TotalKeywords : null,
      // TotalTranslatedKeywords: null,
    };
  },
  computed: {
    projcompletion() {
     return this.Projects.map(x=>x.projectKeywords?(Math.round(x.projectTranslatedKeywords/(x.projectKeywords*x.projectLanguages)*100)+"%"):"empty");
    },

  },
  mounted() {
    let vueThis = this;

  var $input = $('#NewProjectName');
  $input.on('keyup', function () {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(doneTyping, doneTypingInterval);
  });
  $input.on('keydown', function () {
    clearTimeout(typingTimer);
  });
  function doneTyping () {
    // var result = $input.val();
    
    if ($input.val()) {
      vueThis.projNameKey = vueThis.validateProjName($input.val());
    }
  }
    vueThis.getAllProjects();
  },
  methods: {
    validateInput(event){ 
      var ew = event.which;
    if(ew == 32)
        return true;
    if(48 <= ew && ew <= 57)
        return true;
    if(65 <= ew && ew <= 90)
        return true;
    if(97 <= ew && ew <= 122)
        return true;
    event.preventDefault();
    },
      validateProjName(name) {
        var res = "";
        var getName = name;
        var result = getName.trim().split(" ").filter(x=>x);
        if (result.length == 0) {
            this.isNameKeyEmpty = true;
        }
        else if(result.length > 1) {
          this.isNameKeyEmpty = false;
          res = _.join( result.map(x=>x[0]), '').substring(0,10);
        }
        else  {
          this.isNameKeyEmpty = false;
          if (result[0].length >= 4 && result[0].length <= 5){
            res = result[0].substring(0,3);
          }
          else if (result[0].length >= 6 && result[0].length <= 7){
            res = result[0].substring(0,4);
          }
          else if (result[0].length >= 8 && result[0].length <= 9){
            res = result[0].substring(0,5);
          }
          else if (result[0].length >= 10 && result[0].length <= 11){
            res = result[0].substring(0,6);
          }
          else if (result[0].length >= 12 && result[0].length <= 13){
            res = result[0].substring(0,7);
          }
          else if (result[0].length >= 14 && result[0].length <= 15){
            res = result[0].substring(0,8);
          }
          else if (result[0].length >= 16 && result[0].length <= 17){
            res = result[0].substring(0,9);
          }
          else res = result[0].substring(0,10);
        }

        return res.toUpperCase();
    },
    restNewProjectNameData() {
      this.ProjectNameInput = null;
           this.projNameKey = null;
      this.isNameKeyEmpty = false;
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY, hh:mm');
    },
    editProject(id) {
      this.SelectedProject = this.Projects.find(p => p.id == id);
    },
    async getAllProjects() {
      swal.showLoading();
      let [err, response] = await api.getAllProjectList();
      if (err==null) {
        if (response.error == null) {
        this.Projects = response.data.projectList;
        swal.close();
      }
      }
      else {
        swal.fire({
              type: 'error',
              title: 'Error',
              text: 'Server Error',
            });
      }
    },
    async createAnewProject() {
      let [err, response] = await api.createNewProject(this.ProjectNameInput,this.projNameKey);
      if (err==null) {
        if (response.data.error == null) {
        this.Projects.push({
          id: response.data.id,
          text: response.data.projectName
        });
        $("#ProjectPopUp").modal("hide");
      }
      else  {
        swal.fire({
              type: 'error',
              title: 'Error',
              text: response.data.error,
            });
            return;
      }
      }
      else {
        swal.fire({
              type: 'error',
              title: 'Error',
              text: 'Server Error',
            });
      }
      this.restNewProjectNameData();
      this.getAllProjects();
    },


    async updateTheProjectName(project) {
      let [err, response] = await api.updateProjectName(
        project.text,
        project.id
      );
      if(err==null) {
        if (response.error == null) {
        var p = this.Projects.find(x => x.id == project.id);
        p.text = project.text;
        $("#ProjectPopUpEdit").modal("hide");
        this.SelectedProject = null;
      }
      }else {
        swal.fire({
              type: 'error',
              title: 'Error',
              text: 'Server Error',
            });
      }
    },
    goToProjectLanguages(project) {
      store.setFilterElement(project.id, project.text);
      // router.push("ProjectLanguage");
    }
  }
};
</script>
<style>
.projectsContainer {
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 #d6e0e7;
  background: #fff;
}
.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: unset;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #1ab394;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: 0;
}
.inp-cbx:checked + .cbx span:first-child {
  background: #1ab394;
  border-color: #1ab394;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}
.gradeX:hover {
  background: #f7f7f7;
}
.CardTitle {
  margin: 0 auto;
}
.fileinput23 {
  margin: 0 auto;
}
.savebuttondiv button {
  float: left;
}
.cancelbutton button {
  float: right;
}
.project-title {
  color: #676a6c!important;
  border-bottom: none!important;
}
.projectbody .footable-even .project-title{
  padding: 0;
  height: 100%;
}
.project-title a{
  font-size: 20px;
}
.project-title a h6 {
  font-size: 14px;
}
.projectbuttons {
  margin: 0 5px;
}
.projectbuttons i {
  color: #fff;
}
.ibox, .fullborderradius {
  box-shadow: 0 1px 6px 0 #d6e0e7;
  border-radius: 8px;
}
.ibox-title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.ibox-content{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.swal2-container {
z-index: 2201;
}
</style>


