<template>
  <div class="col-12">
    <div class="row">
      <div class="col-2 breadcrumbsnavig">
        <router-link
          class="breadcrumbsProject"
          :to="{ name: 'ProjectLanguage', params: {projectName:routeObject.projectKey} }"
        >
          <i class="fas fa-arrow-left"></i>
          &nbsp;{{routeObject.projectKey}}
        </router-link>
      </div>
      <div class="col-8">
        <h3>Project "{{projectName}}". Language {{this.projectLangName}}</h3>
      </div>
      <div class="col-2 breadcrumbsnavig breadcrumbright">
        <router-link
          class="breadcrumbsProject"
          :to="{ name: 'ProjectKeywords', params: {projectName:routeObject.projectKey} }"
        >
          {{routeObject.projectKey}}&nbsp;keywords&nbsp;
          <i class="fas fa-arrow-right"></i>
        </router-link>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5 projlocleft">
        <div class="ibox">
          <div class="alert alert-info">
            <a class="dropdown-toggle sortkeys" data-toggle="dropdown" aria-expanded="false">
              Sort by&nbsp;
              <i class="fas fa-sort-amount-down"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-user"
              x-placement="bottom-start"
              style="position: absolute; top: 18px; left: 26px; will-change: top, left;"
            >
              <li>
                <a class="dropdown-item" @click="sortingKeywordsASC()">
                  <i class="fas fa-sort">&nbsp;A-Z</i>
                </a>
              </li>
              <li>
                <a class="dropdown-item" @click="sortingKeywordsLocale()">
                  <i class="fas fa-sort">&nbsp;Completion</i>
                </a>
              </li>
            </ul>Keywords
            <span class="exportfile" @click="ApproveExport">
              <i class="fas fa-cloud-download-alt"></i>
            </span>
          </div>
        </div>
        <div class="ibox">
          <input
            type="text"
            class="translationsearch"
            placeholder="Type to search..."
            v-model="searchkeywords"
          />
        </div>
        <div class="ibox projectkeywords">
          <div class="ibox-content no-padding height75vh">
            <div class="keywordlist">
              <div
                @click="selectKeyword(keyw)"
                v-for="(keyw,i) in forSortingByLocalization"
                :key="keyw.id"
                :id="'selectedkeyword' + i"
                class="textleft"
                :class="[keyw.value!=null?'alert alert-success':'alert alert-danger',keyw.selected?'activerow':'']"
              >{{keyw.keyword}}</div>
            </div>
          </div>
        </div>
        <!-- <div class="ibox">
          <div class="ibox-content">
            <button type="button" class="btn btn-block btn-outline btn-success importbutton"><i class="fa fa-upload"></i> Export
            </button>
          </div>
        </div>-->
      </div>
      <div class="col-5 projlocright">
        <h3 class="localiztitle">Localization</h3>
        <div class="col-12 col-form-label lesspaddingbot">
          <h4 class="keywordtitle">Keyword</h4>
          <div class="ibox">
            <input
              type="text"
              disabled
              readonly
              v-model="selectedKeyword.value"
              placeholder="Choose a keyword please."
              class="shortarea"
            />
          </div>
        </div>
        <div class="col-12 col-form-label lesspaddingtop">
          <div class="row">
            <div class="col-7 translationtitle">
              <h4>Translation</h4>
            </div>
            <div class="col-5 rtlltrdir">
              <div class="form-group">
                RTL
                <input type="checkbox" id="toggle_1" class="chkbx-toggle" v-model="rtlchecked"/>
                <label for="toggle_1"></label>
              </div>
            </div>
          </div>
          <div class="ibox">
            <textarea
              name
              id
              cols="30"
              rows="10"
              class="translatearea form-control"
              v-model="newLocalVal"
              :readonly="untilclicktokey"
              :placeholder="textareaplaceholder"
              :disabled="!selectedKeyword.id"
              :class="{directionrtl: rtlchecked==true}"
            ></textarea>
          </div>
        </div>
        <div class="col-12 localizationbuttons">
          <div class="row">
            <div class="col-4">
              <button
                type="button"
                class="btn btn-w-m btn-primary acceptLocalization hoverbutton"
                @click="addProjectlocalization()"
                :disabled="changedKeywordValButtons"
                v-if="addorupdatetranslation"
              >Save translation</button>
              <button
                type="button"
                class="btn btn-w-m btn-primary acceptLocalization hoverbutton"
                @click="updateProjectKeywordLocalization()"
                :disabled="changedKeywordValButtons"
                v-else
              >Update translation</button>
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-w-m btn-warning cancelLocalization hoverbutton"
                :disabled="changedKeywordValButtons"
                @click="denylocalization()"
              >Cancel changes</button>
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-w-m btn-success denyLocalization hoverbutton"
                @click="approvingLocalizationDelete()"
                :disabled="denyingdelete"
              >Delete translation</button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button
            type="button"
            class="btn btn-block btn-outline btn-success importbutton"
            @click="ShowImportSection"
            v-if="showimporttranslationbutton"
          >
            <i class="fa fa-upload"></i> Import translation
          </button>
        </div>
        <div class="col-12 localeimport" v-if="showimporttranslation">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Import translations for {{projectName}} project</h5>
            </div>
            <div class="ibox-content" style>
              <div class="custom-file">
                <input
                  type="file"
                  ref="jsonKeysLocalization"
                  name="importKeywordsLocalization"
                  id="importKeywordsLocalization"
                  class="custom-file-input"
                />
                <label
                  for="importKeywordsLocalization"
                  class="custom-file-label"
                >Choose or drag and drop file</label>
              </div>
              <button
                type="button"
                class="btn btn-block btn-outline btn-success importbutton"
                @click="importKeywordsLocalization"
              >
                <i class="fa fa-upload"></i> Import
              </button>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-block btn-outline btn-warning importbutton"
            @click="HideImportSection"
          >
            <i class="fa fa-times-circle"></i> Cancel import
          </button>
        </div>
        <!-- <div class="col-12 importexcel">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Import keywords with localization for {{routeObject.projectName}} project</h5>
            </div>
            <div class="ibox-content" style>
              <div class="custom-file">
                <input
                  type="file"
                  ref="jsonKeysLocalizationExcel"
                  name="importKeywordsLocalizationExcel"
                  id="importKeywordsLocalizationExcel"
                  class="custom-file-input"
                />
                <label
                  for="importKeywordsLocalization"
                  class="custom-file-label"
                >Choose or drag and drop file</label>
              </div>
              <button
                type="button"
                class="btn btn-block btn-outline btn-success importbutton"
                @click="importKeywordsLocalizationExcel"
              >
                <i class="fa fa-upload"></i> Import
              </button>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</template>
<script>
import api from "@/services/api.js";
import swal from "sweetalert2";
import _ from "lodash";
// var $ = window.$;

export default {
  data() {
    return {
      rtlchecked: false,
      ProjectKeywords: [],
      selectedKeyword: { id: "", value: "" },
      ProjectLocalization: {},
      oldLocalVal: null,
      newLocalVal: null,
      textareaplaceholder: "Click to keyword and type translation.",
      showimporttranslation: false,
      showimporttranslationbutton: true,
      routeObject: {
        projId: this.$route.params.projectName,
        lcid: this.$route.params.lcid,
        projectId: null,
        languageid: null,
        projectKey: null
      },
      projectName: null,
      projectLangName: null,
      asc: true,
      ordertype: 1,
      searchkeywords: null
    };
  },
  mounted() {
    $(".custom-file-input").on("change", function() {
      let fileName = $(this)
        .val()
        .split("\\")
        .pop();
      $(this)
        .next(".custom-file-label")
        .addClass("selected")
        .html(fileName);
    });
    this.getProjectKeys();
  },
  computed: {
    //     rtlltrchecking() {
    //       var tr = document.getElementById("toggle_1").checked;
    //   if (tr == 'true') {
    //     return this.rtlchecked = true;
    //   }else return this.rtlchecked = false;
    // },
    forSortingByLocalization() {
      if (this.searchkeywords != null) {
        return this.ProjectKeywords.filter(
          x =>
            x.keyword
              .toLowerCase()
              .includes(this.searchkeywords.toLowerCase()) ||
            (x.value &&
              x.value.toLowerCase().includes(this.searchkeywords.toLowerCase()))
        );
      } else return this.ProjectKeywords;
    },
    addorupdatetranslation() {
      return this.oldLocalVal != null ? false : true;
    },
    changedKeywordValButtons() {
      if (this.oldLocalVal == this.newLocalVal || !this.newLocalVal) {
        return true;
      } else return false;
    },
    untilclicktokey() {
      if (this.selectedKeyword.value == null) {
        return true;
      } else return false;
    },
    denyingdelete() {
      if (this.oldLocalVal != null) {
        return false;
      } else return true;
    }
  },

  methods: {
    ShowImportSection() {
      this.showimporttranslation = true;
      this.showimporttranslationbutton = false;
    },
    HideImportSection() {
      this.showimporttranslation = false;
      this.showimporttranslationbutton = true;
    },
    cancelEditingKeyword() {
      this.showForEditKeyword = true;
      this.editId = null;
      this.editedKeyword = null;
    },
    ApproveExport() {
      var inputOptions = new Promise(function(resolve) {
        resolve({
          nested: "nested",
          flat: "flat",
          resx: "resx"
        });
      });

      swal
        .fire({
          title: "Select format",
          input: "radio",
          showCancelButton: true,
          inputOptions: inputOptions,
          inputValidator: value => {
            return new Promise(function(resolve, reject) {
              if (value == "nested" || value == "flat" || value == "resx") {
                resolve();
              } else {
                reject("You need to select something!");
              }
            });
          }
        })
        .then(result => {
          if (result.value == "nested") {
            this.ExportingFile(
              this.$route.params.projectName,
              this.$route.params.lcid,
              result.value
            );
          } else if (result.value == "flat") {
            this.ExportingFile(
              this.$route.params.projectName,
              this.$route.params.lcid,
              result.value
            );
          } else if (result.value == "resx") {
            this.ExportingFile(
              this.$route.params.projectName,
              this.$route.params.lcid,
              result.value
            );
          } else
            swal.fire({
              type: "error",
              title: "Canceled",
              text: "You have canceled export"
            });
        });
    },
    async ExportingFile(projectid, langid, format) {
      let [err, response] = await api.ExportFile(
        this.routeObject.projectId,
        this.routeObject.languageid,
        format
      );
      if (err == null) {
        if (response.error == null) {
          var nameOfFile = "";
          if (this.projectLangName == "Russian") {
            nameOfFile = this.projectName + "-ru-RU";
          } else if (this.projectLangName == "English") {
            nameOfFile = this.projectName + "-en-US";
          } else if (this.projectLangName == "Hebrew") {
            nameOfFile = this.projectName + "-he-IL";
          } else nameOfFile = "Localization";

          if (format == "nested" || format == "flat") {
            const url = window.URL.createObjectURL(
              new Blob([JSON.stringify(response.data)])
            );
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", `${nameOfFile}.json`);
            document.body.appendChild(link);
            link.click();
          }
          if (format == "resx") {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", `${nameOfFile}.resx`);
            document.body.appendChild(link);
            link.click();
          }
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    sortingKeywordsASC: function() {
      if (this.ordertype == 1) {
        this.asc = !this.asc;
      } else {
        this.ordertype = 1;
        this.asc = true;
      }
      this.ProjectKeywords = _.orderBy(
        this.ProjectKeywords,
        x => x.keyword.toLowerCase(),
        this.asc ? "asc" : "desc"
      );
    },
    sortingKeywordsLocale: function() {
      if (this.ordertype == 2) {
        this.asc = !this.asc;
      } else {
        this.ordertype = 2;
        this.asc = true;
      }
      this.ProjectKeywords = _.orderBy(
        this.ProjectKeywords,
        ["value", x => x.keyword.toLowerCase()],
        this.asc ? "desc" : "asc"
      );
      // this.ProjectKeywords.sort((a, b) =>(a.hasLocalization === b.hasLocalization)? 0 : a? -1 : 1);
    },
    async getProjectLanguageName() {
      let [err, response] = await api.getProjectLangName(
        this.$route.params.lcid
      );
      if (err == null) {
        if (response.error == null) {
          this.projectLangName = response.data.englishName;
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    async getProjectName() {
      let [err, response] = await api.getProjectNameInLocalization(
        this.$route.params.projectName
      );
      if (err == null) {
        if (response.error == null) {
          this.projectName = response.data.projectName;
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    // async importKeywordsLocalizationExcel() {
    //   swal.showLoading();
    //   var importingFile = this.$refs.jsonKeysLocalizationExcel.files[0];

    //   if (!importingFile) {
    //     swal.fire({
    //       type: "error",
    //       title: "No file detected.",
    //       text: "Please choose the file."
    //     });
    //     return;
    //   }

    //   if (
    //     importingFile.type ==
    //     "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    //   ) {
    //     var formData = new FormData();
    //     formData.append("excel", this.$refs.jsonKeysLocalizationExcel.files[0]);
    //     formData.append("ProjectId", this.routeObject.projectId);
    //     formData.append("LangId", this.routeObject.languageid);
    //     let [err, response] = await api.ImportJsonKeywordsLocalesExcel(
    //       formData
    //     );
    //     swal.close();
    //     if (err == null) {
    //       if (response.data.error == null) {
    //         this.getProjectKeys();
    //         swal.fire("Done", "File imported successfully!", "success");
    //       } else {
    //         swal.fire({
    //           type: "error",
    //           title: "Error",
    //           text: response.data.error
    //         });
    //       }
    //     } else {
    //       swal.fire({
    //         type: "error",
    //         title: "Error",
    //         text: "Server Error"
    //       });
    //     }
    //   } else {
    //     swal.fire({
    //       type: "error",
    //       title: "Incorrect File Format",
    //       text: "File format should be .json"
    //     });
    //   }
    // },
    async importKeywordsLocalization() {
      swal.showLoading();
      var importingFile = this.$refs.jsonKeysLocalization.files[0];
      if (!importingFile) {
        swal.fire({
          type: "error",
          title: "No file detected.",
          text: "Please choose the file."
        });
        return;
      }

      if (importingFile.type == "application/json") {
        var formData = new FormData();
        formData.append("json", this.$refs.jsonKeysLocalization.files[0]);
        formData.append("ProjectId", this.routeObject.projectId);
        formData.append("LangId", this.routeObject.languageid);
        let [err, response] = await api.ImportJsonKeywordsLocales(formData);
        swal.close();
        if (err == null) {
          if (response.data.error == null) {
            this.getProjectKeys();
            swal.fire("Done", "File imported successfully!", "success");
          } else {
            swal.fire({
              type: "error",
              title: "Error",
              text: response.data.error
            });
          }
        } else {
          swal.fire({
            type: "error",
            title: "Error",
            text: "Server Error"
          });
        }
      } else {
        swal.fire({
          type: "error",
          title: "Incorrect File Format",
          text: "File format should be .json"
        });
      }
    },
    async getProjectKeys() {
      swal.showLoading();
      let [err, response] = await api.getProjectKeywords(
        this.$route.params.projectName,
        this.$route.params.lcid
      );
      if (err == null) {
        if (response.error == null) {
          this.ProjectKeywords = response.data.keywords;
          this.ProjectKeywords.map(x => (x.selected = false));
          this.routeObject.projectId = response.data.projectId;
          this.routeObject.languageid = response.data.projectLangId;
          this.projectName = response.data.projectName;
          this.projectLangName = response.data.languageName;
          this.routeObject.projectKey = response.data.projectKey;
          this.ordertype = 0;
          this.sortingKeywordsLocale();
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    isNullOrWhite(str) {
      if (str === null) return true;
      return str.trim().length == 0;
    },

    selectKeyword(keyword) {
      this.ProjectKeywords.forEach(element => {
        element.selected = false;
      });
      keyword.selected = true;
      this.textareaplaceholder = "";
      this.selectedKeyword.id = keyword.id;
      this.selectedKeyword.value = keyword.keyword;
      this.getProjectKeywordLocalization();
    },
    async addProjectlocalization() {
      swal.showLoading();
      let [err, response] = await api.addLocalization(
        this.routeObject.projectId,
        this.selectedKeyword.id,
        this.newLocalVal,
        this.routeObject.languageid
      );

      if (err == null) {
        if (response.data.error == null) {
          this.ProjectLocalization.id = response.id;
          (this.ProjectLocalization.projectId = response.projectId),
            (this.ProjectLocalization.keywordId = response.keywordId),
            (this.ProjectLocalization.localizationValue =
              response.localizationValue),
            (this.ProjectLocalization.languageId = response.languageId);
          this.UpdateVueKeywordList(
            this.selectedKeyword.id,
            response.data.localizationValue
          );
          swal.close();
        } else
          swal.fire({
            type: "error",
            title: "Error",
            text: "Error"
          });
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
      this.getProjectKeywordLocalization();
    },
    UpdateVueKeywordList(keywordid, value) {
      var touched = this.ProjectKeywords.find(x => x.id == keywordid);
      if (touched) {
        touched.value = value;
      }
    },
    async getProjectKeywordLocalization() {
      let [err, response] = await api.getLocalization(
        this.routeObject.projectId,
        this.selectedKeyword.id,
        this.routeObject.languageid
      );
      if (err == null) {
        if (response.error == null) {
          this.oldLocalVal = response.data.localizationValue;
          this.newLocalVal = response.data.localizationValue;

          if (response.data.localizationValue != null) {
            this.ProjectLocalization.id = response.data.id;
            (this.ProjectLocalization.projectId = response.data.projectId),
              (this.ProjectLocalization.keywordId = response.data.keywordId),
              (this.ProjectLocalization.localizationValue =
                response.data.localizationValue),
              (this.ProjectLocalization.languageId = response.data.languageId);
          } else this.ProjectLocalization = {};
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: response.error
        });
      }
    },
    async updateProjectKeywordLocalization() {
      swal.showLoading();
      let [err, response] = await api.updLocalization(
        this.ProjectLocalization.id,
        this.newLocalVal
      );
      if (err == null) {
        if (response.error == null) {
          this.ProjectLocalization.id = response.data.id;
          (this.ProjectLocalization.projectId = response.data.projectId),
            (this.ProjectLocalization.keywordId = response.data.keywordId),
            (this.ProjectLocalization.localizationValue =
              response.data.localizationValue),
            (this.ProjectLocalization.languageId = response.data.languageId);
          this.UpdateVueKeywordList(
            this.selectedKeyword.id,
            response.data.localizationValue
          );
          this.oldLocalVal = response.data.localizationValue;
          swal.close();
        } else
          swal.fire({
            type: "error",
            title: "Error",
            text: response.data.error
          });
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    async deleterojectKeywordLocalization() {
      swal.showLoading();
      let [err, response] = await api.delLocalization(
        this.ProjectLocalization.id
      );
      if (err == null) {
        if (response.data.error == null) {
          if (this.ProjectLocalization.id == response.data.id) {
            this.UpdateVueKeywordList(this.selectedKeyword.id, null);
            this.ProjectLocalization = {};
            this.newLocalVal = null;
          }
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    approvingLocalizationDelete() {
      this.cancelEditingKeyword();
      swal
        .fire({
          title:
            "You want to delete the " +
            '"' +
            this.newLocalVal +
            '" localization',
          text: "You won't be able to revert!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, delete the localization!"
        })
        .then(result => {
          if (result.value) {
            this.deleterojectKeywordLocalization();
          }
        });
    },
    denylocalization() {
      this.newLocalVal = this.oldLocalVal;
    }
  }
};
</script>
<style>
.keywordlist {
  padding: 0;
}
.keywordlist:hover {
  cursor: pointer;
}
.ibox {
  margin-bottom: 16px;
}
.ibox-title {
  padding: 15px;
}
.translatearea {
  height: 150px;
  max-height: 150px;
  resize: none;
}
.newKeywordArea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  max-height: 150px;
  resize: none;
}
.NewKeywordRow {
  margin: 0;
}
.NewKeywordRow .col-10 {
  padding: 0;
  padding-left: 15px;
}
.buttonRightColumn {
  padding: 0;
}
.buttonRightColumn .col-12 {
  padding: 0;
  margin: 10px 0;
}
.localizationbuttons .row {
  margin: 0;
}

.dropdown-toggle .fa-pencil-alt,
.close-link .fa-times {
  font-size: 20px;
  margin: 0 5px;
}
.dropdown-toggle .fa-pencil-alt:hover {
  color: #23c6c8;
}
.close-link .fa-times:hover {
  color: #fe2e2e;
}
.hoverbutton:hover {
  transform: scale(1.1);
}
.textleft {
  text-align: left;
}
.buttonsrow {
  margin: 0;
}
.height75vh {
  height: 69.5vh;
  overflow-y: scroll;
}
.projectkeywords {
  margin-bottom: 0;
}
@media screen and (max-width: 1440px) {
  .height75vh {
    height: 57vh;
  }
  .projectkeywords .alert {
    padding: 0.45rem 1.25rem;
  }
}
.fornewkeyword {
  margin-bottom: 15px;
}
.height75vh::-webkit-scrollbar {
  width: 6px;
}
.height75vh::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.height75vh::-webkit-scrollbar-thumb {
  background: #f7a54a;
  border-radius: 4px;
}
.height75vh::-webkit-scrollbar-thumb:hover {
  background: #db8625;
}
.activerow {
  background: #fff;
  border: 2px solid #23c6c8;
  font-weight: bold;
}
.haslocale {
  color: #1c84c6;
}
.hasntlocale {
  color: #ed5565;
}
.localeimport {
  margin-top: 5%;
}
.editkeywordbutton {
  margin-top: 15px;
}
.alert {
  margin-bottom: 0;
  font-weight: bold;
  color: #333;
  word-break: break-word;
}
.projectkeywords .ibox-content {
  background-color: transparent;
}
.sortkeys {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #333;
}
.sortkeys:hover {
  cursor: pointer;
}
.lg12button {
  width: 100%;
}
.projlocright {
  background: #fff;
  padding: 15px 0;
  padding-top: 0;
  border-radius: 15px;
  height: max-content;
}
.exportfile {
  position: absolute;
  right: 15px;
  color: #333;
  font-size: 25px;
  top: 5px;
  cursor: pointer;
}
.exportfile:hover {
  color: rgb(103, 106, 108);
}
.exportfile:active {
  color: #fff;
}
.shortarea {
  font-size: 18px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  background: #f1f1f1;
}
.keywordtitle {
  text-align: left;
}
.translationsearch {
  width: 100%;
  font-size: 17px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.localiztitle {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  background: #d1ecf1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.breadcrumbright {
  text-align: right !important;
}
.translationtitle {
  text-align: right;
}
.rtlltrdir {
  text-align: right;
}

.custom-radio {
  display: none;
}
.custom-radio + label {
  font-weight: normal;
  cursor: pointer;
}
.custom-radio + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 1px solid #2196f3;
}
.custom-radio + label span::before {
  content: "";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 9px;
  height: 9px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #2196f3;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.custom-radio:checked + label span::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.custom-radio:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.custom-radio:disabled + label,
.custom-radio:disabled + label span {
  cursor: default;
}

.custom-checkbox {
  display: none;
}
.custom-checkbox + label {
  font-weight: normal;
  cursor: pointer;
}
.custom-checkbox + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  border: 1px solid #009688;
}
.custom-checkbox + label span::before {
  content: "";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 9px;
  height: 9px;
  background-color: #009688;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.custom-checkbox:checked + label span::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.custom-checkbox:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.custom-checkbox:disabled + label,
.custom-checkbox:disabled + label span {
  cursor: default;
}

.chkbx-toggle {
  display: none;
}
.chkbx-toggle + label {
  margin-bottom: 0;
    bottom: -3px;
  position: relative;
  cursor: pointer;
  outline: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
  height: 20px;
  background-color: #e4e4e4;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.chkbx-toggle + label::before,
.chkbx-toggle + label::after {
  content: "";
  display: block;
  position: absolute;
}
.chkbx-toggle + label::before {
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #f1f1f1;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.chkbx-toggle + label::after {
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
.chkbx-toggle:checked + label {
  background-color: #e68900;
}
.chkbx-toggle:checked + label::before {
  background-color: #ff9800;
}
.chkbx-toggle:checked + label::after {
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.chkbx-toggle:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}
form {
  padding: 0 10px;
}
.directionrtl{
  direction: rtl!important;
}
.lesspaddingbot {
  padding-bottom: 0;
}
.lesspaddingtop {
  padding-top: 0;
}
</style>


