<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <div class="ibox">
                  <div class="ibox-title">
                    <h1>Project {{projectName}}</h1>
                  </div>
                  <div class="ibox-content">
                    <h4>Please click to exist language or add another one and start translate keywords.</h4>
                    <div class="i18container">
                      <span data-i18n="demo.text1"></span>
                    </div>

                    <div v-for="(lang,i) in ProjectLanguages" :key="lang.id" class="langinlinediv">
                      <router-link
                        :to="{ name: 'ProjectKeywordsAndLocalization', params: {projectid:routeProjId,lcid:lang.id} }"
                      >
                        <a class="btn btn-white set_en" @click="goToProjectLocalization(lang)">
                          <img :src="lang.iconUrl" />
                          {{lang.name}}
                          <div class="progress progress-mini">
                            <div
                              :style="{width:langPercentage[i]}"
                              class="progress-bar progress-bar-success"
                            >
                              <h5 class="completionprogress">Completion: {{langPercentage[i]}}</h5>
                            </div>
                          </div>
                        </a>
                      </router-link>
                      <span class="crossline" @click="approvingProjectLanguageDelete(lang)"></span>
                    </div>
                    <button
                      @click="getAllLanguages"
                      data-toggle="modal"
                      data-target="#AllLangs"
                      class="btn btn-primary m-r-sm"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3"></div>
          <div class="col-1"></div>
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <div class="ibox">
                  <div class="ibox-title">
                    <h3>Manage project's keywords</h3>
                  </div>
                  <div class="ibox-content">
                    <router-link
                      :to="{ name: 'ProjectKeywords', params: {projectName:routeProjNameKey} }"
                    >
                      <button type="button" class="btn btn-block btn-outline btn-primary">
                        <i class="fa fa-file-word-o"></i> Keywords
                      </button>
                    </router-link>
                  </div>
                </div>
              </div>

              <div class="col-12 forimportinkeywords">
                <div class="ibox">
                  <div class="ibox-title">
                    <h5>Import keywords for {{projectName}} project</h5>
                  </div>
                  <div class="ibox-content" style>
                    <div class="custom-file">
                      <input
                        type="file"
                        ref="jsonKeywords"
                        name="importKeywords"
                        id="importKeywords"
                        class="custom-file-input"
                      />
                      <label
                        for="importKeywords"
                        class="custom-file-label"
                      >Choose or drag and drop file</label>
                    </div>
                    <button
                      type="button"
                      class="btn btn-block btn-outline btn-success importbutton"
                      @click="importKeywords"
                    >
                      <i class="fa fa-upload"></i> Import
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="forkeysdeleting">
          <div class="ibox">
            <div class="fullborderradius ibox-content projectmanagediv">
                <a class="dropdown-toggle sortkeys projectmanage" data-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-trash"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-user complexdropdown deletingdropdown"
              x-placement="bottom-start"
              style="position: absolute; top: 18px; left: 26px; will-change: top, left;"
            >
              <li>
                <button
                type="button"
                class="btn btn-block btn-outline btn-warning"
                @click="approvingProjectKeywordsDelete"
              >
              <i class="fas fa-trash"></i>
               &nbsp;Delete all keywords
                 </button>
              </li>
              <li>
                <button
                type="button"
                class="btn btn-block btn-outline btn-warning"
                @click="ApproveDeleting()"
              >
               <i class="fas fa-trash"></i>&nbsp;Delete project
                 </button>
              </li>
            </ul>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container-fluid modal fade"
      id="AllLangs"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
      dir="rtl"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="CardTitle">Please choose language</h2>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <div class="row">
                <div class="fileinput23" id="fileinputid2">
                  <table>
                    <tbody>
                      <tr v-for="(lang,i) in AllLanguages" :key="lang.id">
                        <td>
                          <input
                            class="inp-cbx"
                            :id="'cbx' + i"
                            type="checkbox"
                            style="display: none;"
                            v-model="lang.checked"
                          />
                          <label class="cbx" :for="'cbx' + i">
                            <span>
                              <svg width="12px" height="10px" viewBox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1" />
                              </svg>
                            </span>
                            <span></span>
                          </label>
                        </td>
                        <td class="langlabel">{{lang.englishName}}</td>
                        <td>
                          <img :src="lang.iconUrl" :alt="lang.englishName" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-12 popupbottompart">
              <div class="row">
                <div class="col-6 savebuttondiv">
                  <button
                    class="btn btn-w-m btn-primary acceptLocalization hoverbutton"
                    @click="addProjectLang"
                  >Ok</button>
                </div>
                <div class="col-6">
                  <button
                    class="btn btn-w-m btn-warning cancelLocalization hoverbutton"
                    data-dismiss="modal"
                  >Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import store from "@/services/store.js";
import api from "@/services/api.js";
import swal from "sweetalert2";
import router from  "@/router.js";
// var $ = window.$;
export default {
  data() {
    return {
      storedProject: {},
      ProjectLanguages: [],
      AllLanguages: [],
      TotalKeywords: null,
      TotalTranslatedKeywords: null,
      routeProjNameKey: this.$route.params.projectName,
      projectName: null,
      routeProjId: null
    };
  },
  mounted() {
    this.getProjectName();
    this.getProjectLangs();
    $(".custom-file-input").on("change", function() {
      let fileName = $(this)
        .val()
        .split("\\")
        .pop();
      $(this)
        .next(".custom-file-label")
        .addClass("selected")
        .html(fileName);
    });
    (this.storedProject.id = this.routeProjId),
      (this.storedProject.text = this.projectName);
  },
  computed: {
    langPercentage() {
      return this.ProjectLanguages.map(x =>
        x.totalKeywordCount
          ? Math.round(
              (x.totalKeywordTranslatedCount / x.totalKeywordCount) * 100
            ) + "%"
          : "empty"
      );
    }
  },
  methods: {
        ApproveDeleting: function() {
      swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert!",
          type: "warning",
          input: "text",
          inputPlaceholder: "Type Delete",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, delete the Project!",
          inputValidator: (value) => {
            return new Promise((resolve) => {
              if (value === 'Delete') {
                resolve()
              } else {
                resolve('You need to type "Delete" !')
              }
            })
          }
        })
        .then(result => {
          if (result.value=="Delete") {
            this.deleteTheProject();
          }
        });
    },
        async deleteTheProject(project) {
      let [err, response] = await api.deleteProject(this.routeProjId);
      if(err==null){
        if (response.error == null) {
          router.push("/");
        // if (project.id == response.data.id) {
        //   this.Projects = this.Projects.filter(x => x.id != project.id);
        // }
      }
        }else {
        swal.fire({
              type: 'error',
              title: 'Error',
              text: 'Server Error',
            });
      }
    },
    async getProjectName() {
      let [err, response] = await api.getProjectNameInLocalization(
        this.$route.params.projectName
      );
      if (err == null) {
        if (response.error == null) {
          this.projectName = response.data.projectName;
          this.routeProjId = response.data.projectId;
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    async importKeywords() {
      swal.showLoading();
      var importingFile = this.$refs.jsonKeywords.files[0];
      if (!importingFile) {
        swal.fire({
          type: "error",
          title: "No file detected.",
          text: "Please choose the file."
        });
        return;
      }

      if (importingFile.type == "application/json" || importingFile.type == "text/plain") {
        var formData = new FormData();
        formData.append("json", this.$refs.jsonKeywords.files[0]);
        formData.append("ProjectId", this.routeProjId);
        let [err, response] = await api.ImportJsonKeywords(formData);
        if (err == null) {
          if (response.data.error == null) {
            swal.fire("Done", "File imported successfully!", "success");
            this.getProjectLangs();
          } else {
            swal.fire({
              type: "error",
              title: "Error",
              text: response.data.error
            });
          }
        } else {
          swal.fire({
            type: "error",
            title: "Error",
            text: err
          });
        }
      } else {
        swal.fire({
          type: "error",
          title: "Incorrect File Format",
          text: "File format should be .json"
        });
      }
    },
    approvingProjectKeywordsDelete() {
      swal
        .fire({
          title:
            "You want to delete " +
            '"' +
            this.projectName +
            "\" project's keywords",
          text: "You won't be able to revert!",
          type: "warning",
          input: "text",
          inputPlaceholder: "Type Delete",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, delete the language!",
          inputValidator: value => {
            return new Promise(resolve => {
              if (value === "Delete") {
                resolve();
              } else {
                resolve('You need to type "Delete" !');
              }
            });
          }
        })
        .then(async result => {
          if (result.value == "Delete") {
            swal.showLoading();
            await this.deleteKeywords();
            swal.close();
            await this.getProjectLangs();
          } else return "You need to write Delete";
        });
    },
    approvingProjectLanguageDelete(lang) {
      swal
        .fire({
          title:
            "You want to delete the " + '"' + lang.englishName + '" language',
          text: "You won't be able to revert!",
          type: "warning",
          input: "text",
          inputPlaceholder: "Type Delete",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, delete the language!",
          inputValidator: value => {
            return new Promise(resolve => {
              if (value === "Delete") {
                resolve();
              } else {
                resolve('You need to type "Delete" !');
              }
            });
          }
        })
        .then(result => {
          if (result.value == "Delete") {
            swal.showLoading();
            this.deleteProjectLang(lang);
            swal.close();
          } else return "You need to write Delete";
        });
    },
    async deleteKeywords() {
      let [err, response] = await api.deleteProjectKeywords(this.routeProjId);
      if (err == null) {
        if (response.error == null) {
          swal.fire(
            "Done",
            "All keywords of project " + " was deleted!",
            "success"
          );
        } else {
          swal.fire({
            type: "error",
            title: "Error",
            text: "Server Error"
          });
        }
      }
    },
    async getAllLanguages() {
      let [err, response] = await api.getLanguageList();
      if (err == null) {
        if (response.error == null) {
          this.AllLanguages = response.data.language;
          this.AllLanguages.map(x => (x.checked = false));
          this.ProjectLanguages.forEach(x => {
            this.AllLanguages.forEach(y => {
              if (x.id === y.id) {
                this.AllLanguages = this.AllLanguages.filter(
                  z => z.id !== x.id
                );
              }
            });
          });
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    async addProjectLang() {
      $(".canceldoubleclick").bind("click", function(e) {
        e.preventDefault();
      });
      swal.showLoading();
      var selectedLang = this.AllLanguages.filter(x => x.checked == true);
      var selectedLangid = selectedLang.map(x => x.id);
      let [err, response] = await api.addProjectLanguage(
        selectedLangid,
        this.routeProjId
      );
      swal.close();
      if (err == null) {
        if (response.error == null) {
          this.ProjectLanguages = [...response.data.langs];

          this.ProjectLanguages.forEach(x => {
            this.AllLanguages.forEach(y => {
              if (x.id === y.id) {
                this.AllLanguages = this.AllLanguages.filter(
                  z => z.id !== x.id
                );
              }
            });
          });
          $("#AllLangs").modal("hide");
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    async getProjectLangs() {
      swal.showLoading();
      let [err, response] = await api.getProjectLanguages(
        this.$route.params.projectName
      );
      if (err == null) {
        if (response.error == null) {
          this.ProjectLanguages = response.data.languages;
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    async deleteProjectLang(choosedlang) {
      swal.showLoading();
      let [err, response] = await api.deleteProjectLanguage(
        this.storedProject.id,
        choosedlang.id,
        choosedlang.projectLanguageId
      );
      if (err == null) {
        if (response.error == null) {
          this.ProjectLanguages = this.ProjectLanguages.filter(
            x => x.id != choosedlang.id
          );
          swal.close();
        }
      } else {
        swal.fire({
          type: "error",
          title: "Error",
          text: "Server Error"
        });
      }
    },
    goToProjectLocalization(language) {
      swal.showLoading();
      this.storedProject.filterlangId = language.projectLanguageId;
      store.setFilterKeyElement(
        this.storedProject.id,
        this.storedProject.filterlangId,
        language.englishName
      );
      store.setFilterElement(this.storedProject.id, this.storedProject.text);
      // router.push("ProjectKeywordsAndLocalization");
      swal.close();
    }
  }
};
</script>
<style>
/* .crossline {
  position: relative;
  right: 15px;
  top: 1px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}
.crossline:hover {
  opacity: 1;
  cursor: pointer;
}
.crossline:before,
.crossline:after {
  position: absolute;
  left: 5px;
  top: -1px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: rgb(24, 23, 23);
}
.crossline:before {
  transform: rotate(45deg);
}
.crossline:after {
  transform: rotate(-45deg);
} */
.langinlinediv {
  display: inline-flex;
  margin: 0 8px;
}
.langlabel {
  margin-right: 10px;
  font-size: 18px;
}
.completionprogress {
  color: #333;
  margin: 0;
  margin-bottom: 3px;
}
.progress-mini,
.progress-mini .progress-bar {
  height: 15px !important;
  line-height: 15px !important;
  margin-bottom: 0;
}
.importbutton {
  margin-top: 15px;
}
.forkeysdeleting {
  position: fixed;
  bottom: 15px;
  right: -15px;
  width: 70px;
}
.forkeysdeleting button {
  color: rgb(103, 106, 108) !important;
  border-color: rgb(103, 106, 108) !important;
}
.forkeysdeleting button:hover,
.forkeysdeleting button:focus {
  color: #fff !important;
  background: rgb(103, 106, 108) !important;
}
.projectmanagediv {
  padding: 10px 0;
}
.projectmanage {
  position: inherit!important;
  font-size:15px;
}
.projectmanage::after {
transform: rotate(180deg);
}
.deletingdropdown {
  top: -15px!important;
  left: 5px!important;
}
.deletingdropdown button  {
  border: none!important;
}
</style>


